.map {
  height: 500px;
  background-color: #ECEDD5;
  padding: 0.7rem;
  border-radius: 5px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgb(255, 255, 255);
  
}

.map .leaflet-container {
  height: 100%;
  border-radius: 3px;
  
}

.info-flag img {
  width: 100px;
  border-radius: 5px;
  
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #5a5151;
}

.info-container {
  width: 150px;
  
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 3px;
  
}

.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 12px;
  margin-top: 5px;
  
}